    @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 880px) {
    body {
      grid-template-areas: 
      'navbar'
      'profile'
      'main'
      'footer';
      grid-template-rows: 10% 30% 1fr 2%;
      grid-template-columns: 1fr;
      align-items: center;
    
  } 
  #profile,
  #main > section
  {
    margin-left: auto;
    margin-right: auto;
  }

    .nav-links li a {
      font-size: 1rem;
    }
 
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
  }

  @media (min-width: 800px) {
    :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
    }
  }
  