/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Fonts */
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  /* Font weight */
  --fw-reg: 300;
  --fw-bold: 900;

  /* Font Size */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  /* Colors */
    --color-dark:#202124;
    --color-medium:#606368;
    --color-light:#fff;
    --color-accent-dark:#B64FC8;
    --color-accent-light:#FFB2FF;
    --color-green:#03DAC6;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-medium);
  color: var(--color-light);
  font-size: var(--fs-body);
  display: grid;
  grid-template-areas: 
  'profile main'
  'footer footer';
  grid-gap: 5px;
  grid-template-rows: 1fr 2%;
  grid-template-columns: 25% 1fr;
}

html {
  scroll-behavior: smooth;
}

h2 {
  color: var(--color-accent-light);
}

h5 {
  color: var(--color-accent-light);
}

p {
  color: var(--color-light);
}

strong {
  color: var(--color-accent-light);
}
/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  background-color: var(--color-dark);
  align-items: center;
  height: 17vh;
  grid-area: navbar;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: var(--color-accent-light);
  text-decoration: none;
  text-decoration-color: var(--color-light);
}

a:hover {
  color: var(--color-accent-dark);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--color-accent-dark);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--color-accent-light);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--color-light);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-green);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}


/* PROFILE SECTION */

#profile  {
  grid-area: profile;
  text-align: center;
  margin-left: auto;
}

.profile-img {
  border-radius: 50%;
  align-self: center;
  margin: 10px auto;
  max-width: 100%;
  height: auto;
}

/* SECTIONS */
#main {
  grid-area: main;
  align-items: right;
}
#profile,
#experience,
#projects,
#education
  {
  background-color: var(--color-dark);
  border-radius: 15px;
  margin-top: 20px;
  padding: 20px;
  width: 95%;
}

article {
  border: 2px solid var(--color-accent-dark);
  border-radius: 15px;
  padding: 10px;
}

/* ICONS */

i {
  color: var(--color-accent-light);
}

i:hover {
  cursor: pointer;
}

/* BUTTONS */

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  border: var(--color-accent-dark) 0.1rem solid;
  color: var(--color-accent-light);
  background: none;
}

.btn:hover {
  cursor: pointer;
  background: var(--color-light);
  color: var(--color-accent-dark);
}

.btn-container {
  gap: 1rem;
}

/* FOOTER SECTION */

footer {
  grid-area: footer;
  text-align: center;
  color: var(--color-light);
}